{% extends 'core/base.html' %}

{% block title %} {{page.title}} {% endblock %}

{% load static %}

{% block content %}
<section class="page-section about-heading">
    <div class="container">
      <div class="about-heading-content mbtm">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5 forced">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower"> {{page.title|linebreaks}} </span>
              </h2>
              <!-- Con |safe le indicas a django que interprete código html -->
              <div class="section-content">
                {{page.content|safe}}
                <!-- Usamos esta variable de contexto global -->
                <!-- Usamos el método is_authenticated de la variabe user para saber si el usuario está logeado -->
              </div>
              {% if user.is_authenticated %}
              <!-- Plantilla: 'admin:App_Model_Action' obj.id -->
              <!-- 'admin:pages_page_change' page.id -->
                <a href=" {% url 'admin:pages_page_change' page.id %} ">Editar</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}