{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% load static %}

{% block content %}
<section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/contact.jpg' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Envíanos tus dudas</span>
                <span class="section-heading-lower">Contacto</span>
              </h2>

              <!-- Formulario de contacto -->
              <!-- Si usamos form.as_p nos muestra el formulario como parrafos-->
              <!-- Si usamos form.as_table nos muestra el formulario como tabla, pero se requiere que estpe dentro de una etiqueta table -->
              <!-- Si usamos form.as_ul nos muestra el formulario como lista, pero se requiere que esté dentro de una etiqueta ul-->
              {% if 'ok' in request.GET %}
                <p><b>Su mensaje ha sido enviado correctamente</b></p>
              {% endif %}

              <!-- Formulario automático generado por django -->
              <!-- En el atributo action se indica en que página se debe de validar los datos enviados del formulario o a donde se deben de enviar -->
              <!-- Cuando es POST oculta los datos ya que esto se envían en la barra url-->
              <!--<form action="" method="POST">
                {% csrf_token %}
                <table>
                  {{form.as_table}}
                </table>
                <input type="submit" value="Enviar">
              </form>-->

              <form action="" method="POST">
                {% csrf_token %}
                  <div class="form-group">
                      <label>Nombre *</label>
                      <div class="input-group">
                          {{form.name}} <!-- Usamos el campos de tipo input que genera django -->
                      </div>
                      {{form.name.errors}} <!-- Mensaje de error -->
                  </div>
                  <div class="form-group">
                      <label>Email *</label>
                      <div class="input-group">
                          {{form.email}}
                      </div>
                      {{form.email.errors}}
                  </div>
                  <div class="form-group">
                      <label>Mensaje *</label>
                      <div class="input-group">
                          {{form.content}}
                      </div>
                      {{form.content.errors}}
                  </div>
                  <div class="text-center">
                      <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                  </div>
              </form>
              <!-- Fin formulario de contacto -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}